body {
  background-color: lightgray;
}

#hidden-image {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  padding: 5px;
}

#slices-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
